@charset "utf-8";
/* CSS Document */

.main_top{
	margin: -8px -8px 0 -8px  ;
	background: url(../images/backgrounds/index_top.jpg);
	background-repeat: no-repeat;
	background-position: top left;
	background-size: cover;
	height: 100vh;
	widhth: 100vh;
	text-align: center;
	
	}
.front{
	padding-top: 150px;
	
	}
.front img{	
	display:block;
	margin-left: auto;
	margin-right: auto;
	}
.words_main{
	display: block;
	text-align:center;
	font-size: 28px;
	font-family: "Kaushan Script";
	color:#FFFFFF;
	margin-left: auto;
	margin-right: auto;
	}
.content_main{
	
	height: 500px;
	
	}
.down_arrow{
  background:url(../images/backgrounds/down%20arrow.png);
  background-repeat:no-repeat;
  position:absolute;
  left:49%;
  bottom:0;
  margin-top:-25px;
  margin-left:-25px;
  height:117px;
  width:36px;
  -webkit-animation:bounce 1s infinite;
}

@-webkit-keyframes bounce {
  0%       { bottom:5px; }
  25%, 75% { bottom:15px; }
  50%      { bottom:20px; }
  100%     {bottom:0;}
}


